

:local(.container){
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 80px;
}

:local(.image){
    width: 300px;
}

:local(.infoContainer){
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.125);
}

:local(.infoList){
    margin-left: 5px;
    margin-top: 20px;
    list-style: none;
}
:local(.infoList li){
    margin-bottom: 10px;
}
:local(.title){
    font-size: 25px;
}