:local(.navbarContainer){
    background-color: darkblue;
}

:local(.navbar){
     display:flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: rgb(59, 64, 105);
    color: white;
    position: relative;
}

:local(.logo){
    width: 25%;
    height: auto;
}

:local(.navLinks){
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

    margin: 0;
    padding: 0;
}


:local(.link){
  
    text-decoration: none;
    color: white;
    text-decoration: none;
    padding: 30px;
}

:local(.link:hover){
    background-color: white;
    color: black;
}

@supports (position:sticky){
:local(.navbar){
    position: sticky;
    top:0;
}
}
